
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.caixa{
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%,-50%);
  color: white;
}
.caixa h1, .caixa-ks h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid hotpink;
  margin-bottom: 10px;
  padding: 13px 0;
}
.caixa-texto{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid hotpink;
}

a {
  color: pink;
}

a:hover {
  color: hotpink;
}

.caixa-texto-personagem{
  width: 100%;
  overflow: hidden; 
  font-size: 30px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid hotpink;
}

.caixa-ks{
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%,-50%);
  color: white;
}

.creditos {
  font-size: 20px;
}

@media screen and (max-width: 640px) {
  body {
    background: url(bg.jpg) repeat;
  }

  .caixa-texto {
    font-size: 18px;
  }

  .caixa {
    top: 65%;
  }

  .caixa-texto-personagem {
    font-size: 18px;
    margin: 0px;
  }

  .caixa-ks {
    top: 90%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px ) {
  body {
    background: url(bg.jpg) repeat;
  }
  .caixa h1{
    font-size: 90px;
  }
}